<div class="container mt-4">
  <h2>Quiz</h2>
  <form (ngSubmit)="submitAnswers()">
    <div *ngFor="let question of questions; let i = index" class="mb-3">
      <h5>{{ question.text }}</h5>
      <div *ngFor="let option of question.options" class="form-check">
        <input
          type="radio"
          [id]="'q' + i + 'o' + option.id"
          [name]="'question' + i"
          [value]="option.id"
          [(ngModel)]="selectedAnswers[question.id]"
          class="form-check-input"
          required
        />
        <label [for]="'q' + i + 'o' + option.id" class="form-check-label">
          {{ option.text }}
        </label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
  <div *ngIf="correctAnswers !== undefined">
    <h3>Quiz Results</h3>
    <p>Total Questions: {{ totalQuestions }}</p>
    <p>Correct Answers: {{ correctAnswers }}</p>
    <p>Your Score: {{ score }}%</p>
  </div>
</div>
